@use '../tools/' as t;

.u-block {
  display: block;

  &\:sm {
    @include t.responsive(sm) {
      display: block;
    }
  }

  &\:md {
    @include t.responsive(md) {
      display: block;
    }
  }

  &\:lg {
    @include t.responsive(lg) {
      display: block;
    }
  }

  &\:xl {
    @include t.responsive(xl) {
      display: block;
    }
  }

  &\:xxl {
    @include t.responsive(xxl) {
      display: block;
    }
  }
}

.u-none {
  display: none;

  &\:sm {
    @include t.responsive(sm) {
      display: none;
    }
  }

  &\:md {
    @include t.responsive(md) {
      display: none;
    }
  }

  &\:lg {
    @include t.responsive(lg) {
      display: none;
    }
  }

  &\:xl {
    @include t.responsive(xl) {
      display: none;
    }
  }

  &\:xxl {
    @include t.responsive(xxl) {
      display: none;
    }
  }
}
