@use '../tools/' as t;

.u-block {
  display: block;

  &\:sm {
    @container style(--sm: true) {
      display: block;
    }
  }

  &\:md {
    @container style(--md: true) {
      display: block;
    }
  }

  &\:lg {
    @container style(--lg: true) {
      display: block;
    }
  }

  &\:xl {
    @container style(--xl: true) {
      display: block;
    }
  }

  &\:xxl {
    @container style(--xxl: true) {
      display: block;
    }
  }
}

.u-none {
  display: none;

  &\:sm {
    @container style(--sm: true) {
      display: none;
    }
  }

  &\:md {
    @container style(--md: true) {
      display: none;
    }
  }

  &\:lg {
    @container style(--lg: true) {
      display: none;
    }
  }

  &\:xl {
    @container style(--xl: true) {
      display: none;
    }
  }

  &\:xxl {
    @container style(--xxl: true) {
      display: none;
    }
  }
}
