@use '../tools/' as t;

.u-mt-0 {
  margin-block-start: 0;
}

.u-mt-auto {
  margin-block-start: auto;
}

.u-ml-0 {
  margin-inline-start: 0;
}

.u-ml-auto {
  margin-inline-start: auto;
}

.u-mr-0 {
  margin-inline-end: 0;
}

.u-mr-auto {
  margin-inline-end: auto;
}

.u-mx-0 {
  margin-inline: 0;
}

.u-mx-auto {
  margin-inline: auto;
}
