@use '../tools/' as t;

// justify-content
.u-justify-center {
  justify-content: center;

  &\:sm {
    @include t.responsive(sm) {
      justify-content: center;
    }
  }
  &\:md {
    @include t.responsive(md) {
      justify-content: center;
    }
  }
  &\:lg {
    @include t.responsive(lg) {
      justify-content: center;
    }
  }
  &\:xl {
    @include t.responsive(xl) {
      justify-content: center;
    }
  }
  &\:xxl {
    @include t.responsive(xxl) {
      justify-content: center;
    }
  }
}

.u-justify-between {
  justify-content: space-between;

  &\:sm {
    @include t.responsive(sm) {
      justify-content: space-between;
    }
  }
  &\:md {
    @include t.responsive(md) {
      justify-content: space-between;
    }
  }
  &\:lg {
    @include t.responsive(lg) {
      justify-content: space-between;
    }
  }
  &\:xl {
    @include t.responsive(xl) {
      justify-content: space-between;
    }
  }
  &\:xxl {
    @include t.responsive(xxl) {
      justify-content: space-between;
    }
  }
}

.u-justify-start {
  justify-content: flex-start;
}

.u-justify-end {
  justify-content: flex-end;

  &\:sm {
    @include t.responsive(sm) {
      justify-content: flex-end;
    }
  }
  &\:md {
    @include t.responsive(md) {
      justify-content: flex-end;
    }
  }
  &\:lg {
    @include t.responsive(lg) {
      justify-content: flex-end;
    }
  }
  &\:xl {
    @include t.responsive(xl) {
      justify-content: flex-end;
    }
  }
  &\:xxl {
    @include t.responsive(xxl) {
      justify-content: flex-end;
    }
  }
}

// align-items
.u-items-center {
  align-items: center;

  &\:sm {
    @include t.responsive(sm) {
      align-items: center;
    }
  }
  &\:md {
    @include t.responsive(md) {
      align-items: center;
    }
  }
  &\:lg {
    @include t.responsive(lg) {
      align-items: center;
    }
  }
  &\:xl {
    @include t.responsive(xl) {
      align-items: center;
    }
  }
  &\:xxl {
    @include t.responsive(xxl) {
      align-items: center;
    }
  }
}

.u-items-start {
  align-items: flex-start;

  &\:sm {
    @include t.responsive(sm) {
      align-items: flex-start;
    }
  }
  &\:md {
    @include t.responsive(md) {
      align-items: flex-start;
    }
  }
  &\:lg {
    @include t.responsive(lg) {
      align-items: flex-start;
    }
  }
  &\:xl {
    @include t.responsive(xl) {
      align-items: flex-start;
    }
  }
  &\:xxl {
    @include t.responsive(xxl) {
      align-items: flex-start;
    }
  }
}

.u-items-end {
  align-items: flex-end;

  &\:sm {
    @include t.responsive(sm) {
      align-items: flex-end;
    }
  }
  &\:md {
    @include t.responsive(md) {
      align-items: flex-end;
    }
  }
  &\:lg {
    @include t.responsive(lg) {
      align-items: flex-end;
    }
  }
  &\:xl {
    @include t.responsive(xl) {
      align-items: flex-end;
    }
  }
  &\:xxl {
    @include t.responsive(xxl) {
      align-items: flex-end;
    }
  }
}

// flex-direction
.u-flex-col {
  flex-direction: column;

  &\:sm {
    @include t.responsive(sm) {
      flex-direction: column;
    }
  }
  &\:md {
    @include t.responsive(md) {
      flex-direction: column;
    }
  }
  &\:lg {
    @include t.responsive(lg) {
      flex-direction: column;
    }
  }
  &\:xl {
    @include t.responsive(xl) {
      flex-direction: column;
    }
  }
  &\:xxl {
    @include t.responsive(xxl) {
      flex-direction: column;
    }
  }
}

.u-flex-col-reverse {
  flex-direction: column-reverse;
}

.u-flex-row {
  flex-direction: row;

  &\:sm {
    @include t.responsive(sm) {
      flex-direction: row;
    }
  }
  &\:md {
    @include t.responsive(md) {
      flex-direction: row;
    }
  }
  &\:lg {
    @include t.responsive(lg) {
      flex-direction: row;
    }
  }
  &\:xl {
    @include t.responsive(xl) {
      flex-direction: row;
    }
  }
  &\:xxl {
    @include t.responsive(xxl) {
      flex-direction: row;
    }
  }
}

.u-flex-row-reverse {
  flex-direction: row-reverse;

  &\:sm {
    @include t.responsive(sm) {
      flex-direction: row-reverse;
    }
  }
  &\:md {
    @include t.responsive(md) {
      flex-direction: row-reverse;
    }
  }
  &\:lg {
    @include t.responsive(lg) {
      flex-direction: row-reverse;
    }
  }
  &\:xl {
    @include t.responsive(xl) {
      flex-direction: row-reverse;
    }
  }
  &\:xxl {
    @include t.responsive(xxl) {
      flex-direction: row-reverse;
    }
  }
}

.u-flex-wrap {
  flex-wrap: wrap;

  &\:sm {
    @include t.responsive(sm) {
      flex-wrap: wrap;
    }
  }
  &\:md {
    @include t.responsive(md) {
      flex-wrap: wrap;
    }
  }
  &\:lg {
    @include t.responsive(lg) {
      flex-wrap: wrap;
    }
  }
  &\:xl {
    @include t.responsive(xl) {
      flex-wrap: wrap;
    }
  }
  &\:xxl {
    @include t.responsive(xxl) {
      flex-wrap: wrap;
    }
  }
}

// text-align
.u-text-right {
  text-align: right;

  &\:sm {
    @include t.responsive(sm) {
      text-align: right;
    }
  }
  &\:md {
    @include t.responsive(md) {
      text-align: right;
    }
  }
  &\:lg {
    @include t.responsive(lg) {
      text-align: right;
    }
  }
  &\:xl {
    @include t.responsive(xl) {
      text-align: right;
    }
  }
  &\:xxl {
    @include t.responsive(xxl) {
      text-align: right;
    }
  }
}

.u-text-center {
  text-align: center;
}

.u-text-justify {
  text-align: justify;

  &\:sm {
    @include t.responsive(sm) {
      text-align: justify;
    }
  }
  &\:md {
    @include t.responsive(md) {
      text-align: justify;
    }
  }
  &\:lg {
    @include t.responsive(lg) {
      text-align: justify;
    }
  }
  &\:xl {
    @include t.responsive(xl) {
      text-align: justify;
    }
  }
  &\:xxl {
    @include t.responsive(xxl) {
      text-align: justify;
    }
  }
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-w-full {
  width: 100%;
}

.u-h-full {
  height: 100%;
}

.u-weight-700 {
  font-weight: 700;
}

.u-vertical-base {
  vertical-align: baseline;
}

.u-vertical-middle {
  vertical-align: middle;
}
