@use '../tool/' as t;

.u-flex {
  display: flex;

  &\:sm { @include t.responsive(sm) { display: flex; } }
  &\:md { @include t.responsive(md) { display: flex; } }
  &\:lg { @include t.responsive(lg) { display: flex; } }
  &\:xl { @include t.responsive(xl) { display: flex; } }
  &\:xxl { @include t.responsive(xxl) { display: flex; } }
}

.u-block {
  display: block;

  &\:sm { @include t.responsive(sm) { display: block; } }
  &\:md { @include t.responsive(md) { display: block; } }
  &\:lg { @include t.responsive(lg) { display: block; } }
  &\:xl { @include t.responsive(xl) { display: block; } }
  &\:xxl { @include t.responsive(xxl) { display: block; } }
}

.u-none {
  display: none;

  &\:sm { @include t.responsive(sm) { display: none; } }
  &\:md { @include t.responsive(md) { display: none; } }
  &\:lg { @include t.responsive(lg) { display: none; } }
  &\:xl { @include t.responsive(xl) { display: none; } }
  &\:xxl { @include t.responsive(xxl) { display: none; } }
}

.u-grid {
  display: grid;

  &\:sm { @include t.responsive(sm) { display: grid; } }
  &\:md { @include t.responsive(md) { display: grid; } }
  &\:lg { @include t.responsive(lg) { display: grid; } }
  &\:xl { @include t.responsive(xl) { display: grid; } }
  &\:xxl { @include t.responsive(xxl) { display: grid; } }
}

.u-contents {
  display: contents;
}

.u-inline-flex {
  display: inline-flex;
}

.u-inline-block {
  display: inline-block;
}
