@use '../tools/' as t;
@use '@s.a.g.a/reset-css';

:target {
  scroll-margin-top: 120px;
}

html {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-gothic);
  font-size: clamp(t.rem(14px), t.rem(10px) + 1.04vw, t.rem(18px));
  font-weight: 400;
  line-height: 1.8;
  color: var(--black-color-primary);
  letter-spacing: 0.125em;
  background-color: var(--white-color-primary);
  text-size-adjust: 100%;
}
