@use '../tool/' as t;

.footer {
  padding-block: 1em;
  border-block-start: solid 1px var(--gray-color-tertiary);

  small {
    @container style(--sm: true) {
      font-size: calc(24 * var(--rem));
    }
  }
}
