<% const path = "/" %>
<header class="header u-sticky u-z-bottom">
  <div class="c-wrapper u-flex u-justify-between u-items-center u-flex-wrap u-mx-auto">
    <h1 class="header__title">Static Site Template</h1>
    <nav class="c-nav">
      <ul class="c-nav__list u-flex u-items-center">
        <li>
          <a href="<%= path %>">Top</a>
        </li>
        <li>
          <a href="<%= path %>about/">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
