<%- include('../../_config') %>
<%
  const meta = {
    title: `About | ${config.siteName}`,
    description: 'EJS + Sass(scss) + TypeScriptで静的なWebサイトを構築するためのテンプレートのAboutページ',
    url: `${config.baseUrl}/about/`
  };
%>
<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('../../components/_head', {head: meta}) %>
</head>

<body>
  <div class="layout u-grid">
    <%- include('../../components/_header') %>
    <main class="about">
      <h2 class="u-grid u-items-center u-justify-center u-h-full">About</h2>
    </main>
    <%- include('../../components/_footer') %>
  </div>
</body>

</html>